# See https://help.github.com/ignore-files/ for more about ignoring files.

log/*.log
.idea/

config/database.yml
# Client App React DOM

# node moduules
client/node_modules

# misc
.DS_Store

client/src/**/*.css

# Except these files
!client/src/**/*index.css