default: &default
  adapter: postgresql
  encoding: unicode
  # For details on connection pooling, see rails configuration guide
  # http://guides.rubyonrails.org/configuring.html#database-pooling
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  username:
  password:

development:
  <<: *default
  database: marketplace_app_on_react_rails_development

test:
  <<: *default
  database: marketplace_app_on_react_rails_test

production:
  <<: *default
  database: marketplace_app_on_react_rails_production
  username: marketplace_app_on_react_rails
  password: <%= ENV['GAMELIST_DATABASE_PASSWORD'] %>
