.nav-header {
  padding-bottom: 1rem;
  border-bottom: .05rem solid #e5e5e5;
  margin-bottom: 1rem; }
  .nav-header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 3rem; }

.listings .card {
  margin-bottom: 15px; }
  .listings .card .card-body {
    height: 100px;
    padding: 15px 12px; }
    .listings .card .card-body .title {
      font-weight: bold; }
    .listings .card .card-body .card-link {
      font-size: 12px; }

body {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem; }

#root {
  width: 65%;
  margin: 0 auto; }
